{% extends "base.html" %}

{% block main %}
    <div hx-ext="ws" ws-connect="ws://{{ websockets_host }}:{{ websockets_port}}/"
     hx-on::ws-open="this.querySelector('form').requestSubmit()"
    >
          <form hx-ws="send">
            <input type="hidden" name="token" value="{{ websockets_token }}">
          </form>
    </div>
    <div id="chatMain" class='row' style='height: 100%;'>
        <div id="sidebar">
            {% include "dashboard/_sidebar.html" %}
        </div>
        <div id="activeConversation" >
            <div class='d-flex w-100 h-100 align-items-center justify-content-center'>
                <div class='alert text-bg-light text-muted fs-3' >{{ _("Select a conversation to start chatting") }}</div>
            </div>
        </div>
    </div>
{% endblock %}
