{% extends "base.html" %}

{% block main %}
    <div hx-ext="ws" ws-connect="ws://localhost:8888/"
     hx-on::ws-open="this.querySelector('form').requestSubmit()"
    >
          <form hx-ws="send">
            <input type="hidden" name="token" value="{{ websockets_token }}">
          </form>
    </div>
    <div class='row' style='height: 100%;'>
        <div id="sidebar" class='col-3'>
            <div class="list-group">
                {% for user in users %}
                    <button class='list-group-item list-group-item-action'
                            hx-get="/dashboard/conversation/for_user/{{ user.id }}"
                            hx-target="#activeConversation"
                            hx-swap="outerHTML"
                            hx-push-url='false'
                    >
                        {{ user }}
                    </button>
                {% endfor %}
            </div>
        </div>
        <div id="activeConversation"
             class='col-9 justify-content-center align-content-center'
        >
            <div class='d-flex justify-content-center'>
                <h3>Select a conversation to start chatting</h3>
            </div>
        </div>
    </div>
{% endblock %}
