{% extends "base.html" %}

{% block main %}
    <div id="userList" class='text-center'>
        <h3>{{ _("Please select a user to login as") }}</h3>
        <div class="list-group list-group-horizontal">
            {% for user in users %}
                <form id="userLoginForm_{{ user.pk }}" method="POST" action="/dashboard/login/">
                    {% csrf_token %}
                    <input type='hidden' name='user_id' value='{{ user.pk }}'/>
                </form>
                <button class='list-group-item list-group-item-action {% if user.pk == request.user.pk %}active{% endif %}'
                        onClick="$('#userLoginForm_{{ user.pk }}').submit()"
                >
                    {{ user }}
                </button>
            {% endfor %}
        </div>
    </div>
{% endblock %}
