{% load i18n %}
<form id="composeForm" method="POST" hx-post="/message/send/" hx-swap='outerHTML'>
    <input type='hidden' name='message_id' value='{{ draft_message.pk }}'/>

    <div class="row">
        <div class="col-10">
            <input type="text"
                   hx-post="/message/update/"
                   hx-trigger="input changed delay:500ms"
                   hx-sync="closest form:abort"
                   hx-swap="none"
                   class="form-control"
                   id="chatMessageInput"
                   name='message_text'
                   placeholder="{% blocktranslate %}Write to {{ conversation_name }}{% endblocktranslate %}"
                   value="{{ draft_message.content }}">
        </div>
        <div class="col-2 d-grid gap-2">
            <button type="submit" class='btn btn-primary'>
                Send
            </button>
        </div>
    </div>
</form>
