<form id="composeBox" method="POST" hx-post="/message/send/">
    <input type='hidden' name='message_id' value='{{ draft_message.pk }}'/>

    <div class="form-row align-items-center">
        <div class="col-10">
            <label class="sr-only" for="chatMessageInput">Message</label>

            <input type="text"
                   hx-post="/message/update/"
                   hx-trigger="input changed delay:500ms"
                   hx-sync="closest form:abort"
                   hx-swap="none"
                   class="form-control mb-2"
                   id="chatMessageInput"
                   name='message_text'
                   placeholder="{{ _("Your message") }}"
                   value="{{ draft_message.content }}">
        </div>
        <div class="col-2">
            <button type="submit" class='btn btn-primary mb-2 btn-block'>
                Send
            </button>
        </div>
    </div>
</form>
<div
        hx-get="/message/list/{{ draft_message.conversation.id }}/"
        hx-trigger="load delay:250ms"
        hx-target="#activeConversationMessages">
</div>
