{% for message in messages.reverse %}
    <div class='w-100 {% if forloop.first %}last_message{% endif %}'>
        <div class='row'>
            <div class='col'>
                <small class='muted'>
                    from
                    <b>{% if message.author == user %}{{ _("you") }}{% else %}{{ message.author }}{% endif %}</b>
                    @
                </small>
                {% include "_mixin_msg_time.html" %}
            </div>
        </div>
        <div class='row'>
            <div class='col'>
                <div class='alert {% if message.author.pk == user.pk %}alert-info{% else %}alert-dark{% endif %} col-md-12'>
                    {{ message.content }}
                </div>
            </div>
        </div>
    </div>
{% empty %}
    <div class='alert alert-info'>{{ _("No messages yet.") }}</div>
{% endfor %}
